@model Register
@{
    ViewData["Title"] = "Register Nurse";
}
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=InitBingMap' async defer></script>
<form asp-action="RegisterManager">
    <div class="row">
        <div class="row mt-3">
            <div class="form-group col-md-6">
                <label><b>User Email</b></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" />
                </div>
            </div>

            <div class="form-group col-md-6">
                <label><b>Password</b></label>
                <div class="col-md-10">
                    <input asp-for="PasswordHash" class="form-control" />

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group col-md-2">
            <input type="submit" value="Add Manager" class="btn btn-primary" />
        </div>
    </div>
</form>