@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signIn;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Helping_Hands_2._0</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Helping_Hands_2._0.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/Files/HelpingHandsLogo.png" alt="Helping Hands logo" width="140px" height="38px"/>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                  
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="#" asp-action="Index">
                                Home
                            </a>
                        </li>
                        <br />
                        @if (signIn.IsSignedIn(User) && User.IsInRole("Patient"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Profile" asp-action="PatientProfile">
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Conditions" asp-action="Membercons">
                                    My Chronic Conditions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="CareContract" asp-action="CreateCareContract">
                                    Care Contracts
                                </a>
                            </li>
                        }
                        @if (signIn.IsSignedIn(User) && User.IsInRole("Nurse"))
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Nurse" asp-action="Profile">
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Nurse" asp-action="PreferredSuburb">
                                    Preferred Suburbs
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Care Contracts</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Nurse" asp-action="CareContracts">Take on Contract</a>
                                    <a class="dropdown-item" asp-controller="Nurse" asp-action="MyCareContracts">My Care Contracts</a>
                                    <a class="dropdown-item" asp-controller="PurchaseRequest" asp-action="Details">Closed Care Contracts</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Care Visits</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Nurse" asp-action="CareVisitIndex">My Care Visits</a>
                                    <a class="dropdown-item" asp-controller="PurchaseRequest" asp-action="Create">Create Care Visit</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Nurse" asp-action="PreferredSuburbs">
                                   Reports
                                </a>
                            </li>
                        }

                        @if (signIn.IsSignedIn(User) && User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Profile" asp-action="Index">
                                    Locations
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conditions</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Conditions" asp-action="Index">Conditions</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nurses</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Nurse" asp-action="Index">Active Nurses</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Care Contracts</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Nurse" asp-action="OfficeManagerNewContracts">New Care Contracts</a>
                                    <a class="dropdown-item" asp-controller="PurchaseRequest" asp-action="Details">Closed Care Contracts</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Reports" asp-action="Index">
                                    Reports
                                </a>
                            </li>
                            

                        }
                        @if (signIn.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="RegisterNurse">Nurses</a>
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="RegisterManager">Office Managers</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Reports" asp-action="Index">
                                    Manage Business Info
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Helping_Hands_2._0 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
