@model IEnumerable<PatientChronicCon>
@{
    ViewData["Title"] = "Chronic Conditions";
}

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
</head>
<body>
    <div class="container md-6">
        <h2>My Chronic Conditions</h2>
        <div class="row">
            <div class="col-md-10">
                <input class="btn btn-success btn-sm" value="Create" onclick="location.href='@Url.Action("Create", "Conditions")'" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="card bg-light">
        <br />
        <table class="table p-3" id="myTable">
            <thead>
                <tr>
                    <th>Condition Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.ChronicCondition</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </body>
    </html>
