@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*Welcome to the Helping Hands portal. Our mission is to provide free health care to those in need.*@
    <div class="row">
        <div class="col-md-6" style="background-color:red">
            <img src="~/Files/HomeImage1.jpg"
                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
        </div>
        <div class="col-md-6">
            <div card="white">
                <header>The worlds most gentle Hands</header>
                <p>Join out stuff in giving the best care available and text text text text. </p>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-6">
            <header>The worlds most gentle Hands</header>
            <p>Join out stuff in giving the best care available and text text text text. </p>
        </div>
        <div class="col-md-6" style="background-color:red">
            <img src="~/Files/Garden.jpg"
                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-6" style="background-color:red">
            <img src="~/Files/HomeImage2.jpg"
                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
        </div>
        <div class="col-md-6">
            <div card="white">
                <header>The worlds most gentle Hands</header>
                <p>Join out stuff in giving the best care available and text text text text. </p>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-6">
            <header>The worlds most gentle Hands</header>
            <p>Join out stuff in giving the best care available and text text text text. </p>
        </div>
        <div class="col-md-6" style="background-color:red">
            <img src="~/Files/HomeImage4.jpg"
                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
        </div>
    </div>
</div>
